# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [2.7, 3.4, 3.5, 3.6, 3.7, 3.8]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: Setup Python # Set Python version
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          
      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!
      
      # Install pip and pytest
      - name: Install dependencies
        run: |
          python --version
          pip --version
          # Install the codecov pip dependency
          pip install codecov
          # run install to get dependencies and heartpy installed
          python setup.py install --user
          

      # Runs a set of commands using the runners shell
      - name: Run the unit test
        run: |
          coverage run run_tests.py
          codecov
